<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrologParsec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrologParsec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PrologParsec.Properties.Settings>
            <setting name="defaultFontSize" serializeAs="String">
                <value>12</value>
            </setting>
        </PrologParsec.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PrologParsec.Properties.Settings>
            <setting name="descriptionFileDirectory" serializeAs="String">
                <value>C:\Users\Asain\Downloads\FastColoredTextBoxDemo\prolog.xml</value>
            </setting>
            <setting name="defaultFont" serializeAs="String">
                <value>ProggyCleanTT, 15.75pt</value>
            </setting>
            <setting name="headerText" serializeAs="String">
                <value>% -*- Mode: Prolog -*-</value>
            </setting>
            <setting name="footerText" serializeAs="String">
                <value>% -*- End of file -- </value>
            </setting>
            <setting name="documentMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="auroraFile" serializeAs="String">
                <value>aurora.xaml</value>
            </setting>
        </PrologParsec.Properties.Settings>
    </userSettings>
</configuration>