<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrologParsec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrologParsec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PrologParsec.Properties.Settings>
            <setting name="defaultFontSize" serializeAs="String">
                <value>12</value>
            </setting>
        </PrologParsec.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PrologParsec.Properties.Settings>
            <setting name="descriptionFileDirectory" serializeAs="String">
                <value>prolog.xml</value>
            </setting>
            <setting name="defaultFont" serializeAs="String">
                <value>ProggyCleanTT, 15.75pt</value>
            </setting>
            <setting name="headerText" serializeAs="String">
                <value>% -*- Mode: Prolog -*-</value>
            </setting>
            <setting name="footerText" serializeAs="String">
                <value>% -*- End of file -- </value>
            </setting>
            <setting name="documentMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="auroraFile" serializeAs="String">
                <value>aurora.svg</value>
            </setting>
            <setting name="xmlFile" serializeAs="String">
                <value>C:\Users\Asain\Documents\linguaggi\prolog\PrologParsec - Copia\PrologParsec\bin\Debug\xml.xml</value>
            </setting>
            <setting name="auroraStartPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="appTheme" serializeAs="String">
                <value>system</value>
            </setting>
            <setting name="leftPaddingToolbar" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="rightPaddingToolbar" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="auroraCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auroraCustomURL" serializeAs="String">
                <value />
            </setting>
            <setting name="startPageVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageQuick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageChangelog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageLogo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageProduct" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageEdition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageDesc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="untitledFileStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="keywordFontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="commaFontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="pointFontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="questionFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="systemParFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="equalsFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="anonFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="commentFontStyle" serializeAs="String">
                <value>Italic</value>
            </setting>
            <setting name="parentesiFontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="keywordForeColor" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="keywordBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="commaForeColor" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="commaBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="pointForeColor" serializeAs="String">
                <value>Goldenrod</value>
            </setting>
            <setting name="pointBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="questionForeColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="questionBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="systemParForeColor" serializeAs="String">
                <value>Coral</value>
            </setting>
            <setting name="systemParBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="equalsForeColor" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="equalsBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="anonForeColor" serializeAs="String">
                <value>DarkOrchid</value>
            </setting>
            <setting name="anonBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="commentForeColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="commentBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="parentesiForeColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="parentesiBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
        </PrologParsec.Properties.Settings>
    </userSettings>
</configuration>