<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrologParsec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrologParsec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PrologParsec.Properties.Settings>
            <setting name="defaultFontSize" serializeAs="String">
                <value>12</value>
            </setting>
        </PrologParsec.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PrologParsec.Properties.Settings>
            <setting name="descriptionFileDirectory" serializeAs="String">
                <value>prolog.xml</value>
            </setting>
            <setting name="defaultFont" serializeAs="String">
                <value>ProggyCleanTT, 15.75pt</value>
            </setting>
            <setting name="headerText" serializeAs="String">
                <value>% -*- Mode: Prolog -*-</value>
            </setting>
            <setting name="footerText" serializeAs="String">
                <value>% -*- End of file -- </value>
            </setting>
            <setting name="documentMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="auroraFile" serializeAs="String">
                <value>aurora.svg</value>
            </setting>
            <setting name="xmlFile" serializeAs="String">
                <value>C:\Users\Asain\Documents\linguaggi\prolog\PrologParsec - Copia\PrologParsec\bin\Debug\xml.xml</value>
            </setting>
            <setting name="auroraStartPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="appTheme" serializeAs="String">
                <value>system</value>
            </setting>
            <setting name="leftPaddingToolbar" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="rightPaddingToolbar" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="auroraCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auroraCustomURL" serializeAs="String">
                <value />
            </setting>
            <setting name="startPageVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageQuick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageChangelog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageLogo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageProduct" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageEdition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageDesc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="untitledFileStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="keywordFontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="commaFontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="pointFontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="questionFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="systemParFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="equalsFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="anonFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="commentFontStyle" serializeAs="String">
                <value>Italic</value>
            </setting>
            <setting name="parentesiFontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="keywordForeColor" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="keywordBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="commaForeColor" serializeAs="String">
                <value>Gold</value>
            </setting>
            <setting name="commaBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="pointForeColor" serializeAs="String">
                <value>Goldenrod</value>
            </setting>
            <setting name="pointBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="questionForeColor" serializeAs="String">
                <value>LimeGreen</value>
            </setting>
            <setting name="questionBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="systemParForeColor" serializeAs="String">
                <value>Coral</value>
            </setting>
            <setting name="systemParBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="equalsForeColor" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="equalsBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="anonForeColor" serializeAs="String">
                <value>DarkOrchid</value>
            </setting>
            <setting name="anonBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="commentForeColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="commentBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="parentesiForeColor" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="parentesiBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="animationResizeTop" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="animationSettingResize" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="animationResizeEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="animationDockBottomEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="animationSettingResizeEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="animationEnable" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="animationDockBottom" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="fluentStyle" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lunaStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="classicStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="customIcons" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="zoomFile" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="LineColumnView" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="anoniFontStyle" serializeAs="String">
                <value>Italic</value>
            </setting>
            <setting name="anoniForeColor" serializeAs="String">
                <value>DarkOrange</value>
            </setting>
            <setting name="anoniBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="variablesFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="variablesForeColor" serializeAs="String">
                <value>MediumSpringGreen</value>
            </setting>
            <setting name="variablesBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="functionsFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="functionsForeColor" serializeAs="String">
                <value>DeepSkyBlue</value>
            </setting>
            <setting name="functionsBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="syntaxChosen" serializeAs="String">
                <value>Prolog</value>
            </setting>
            <setting name="lispCommentForeColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="lispCommentFontStyle" serializeAs="String">
                <value>Italic</value>
            </setting>
            <setting name="lispCommentBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="lispVariablesForeColor" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="lispVariablesFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="lispVariablesBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="lispBracketsForeColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="lispBracketsFontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="lispBracketsBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="lispKeywordForeColor" serializeAs="String">
                <value>DarkTurquoise</value>
            </setting>
            <setting name="lispKeywordFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="lispKeywordBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="lispOperatorForeColor" serializeAs="String">
                <value>MediumSeaGreen</value>
            </setting>
            <setting name="lispOperatorFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="lispOperatorBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="lispSpecialCharForeColor" serializeAs="String">
                <value>CadetBlue</value>
            </setting>
            <setting name="lispSpecialCharFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="lispSpecialCharBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="lispStringForeColor" serializeAs="String">
                <value>DarkOrchid</value>
            </setting>
            <setting name="lispStringFontStyle" serializeAs="String">
                <value>Italic</value>
            </setting>
            <setting name="lispStringBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="lispNumberForeColor" serializeAs="String">
                <value>MediumAquamarine</value>
            </setting>
            <setting name="lispNumberFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="lispNumberBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="antoniottiStandard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="antoniottiCrazy" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="antoniottiStandardText" serializeAs="String">
                <value>Exceeded columns limit</value>
            </setting>
            <setting name="antoniottiCrazyText" serializeAs="String">
                <value>HERESY!!!</value>
            </setting>
            <setting name="columnLineLimit" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="antoniottiCrazyTitle" serializeAs="String">
                <value>Thou hast sinned.</value>
            </setting>
            <setting name="antoniottiCrazyTextDuo" serializeAs="String">
                <value>Thou hast traspassed the holy limit.</value>
            </setting>
            <setting name="yaccSectionForeColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="yaccSectionBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="yaccBracketsForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="yaccBracketsBackColor" serializeAs="String">
                <value>DarkSalmon</value>
            </setting>
            <setting name="yaccInclusiveForeColor" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="yaccInclusiveBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="yaccJavaForeColor" serializeAs="String">
                <value>SeaGreen</value>
            </setting>
            <setting name="yaccJavaBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="yaccOperatorForeColor" serializeAs="String">
                <value>DarkOrchid</value>
            </setting>
            <setting name="yaccOperatorBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="yaccInclusiveFontStyle" serializeAs="String">
                <value>Italic</value>
            </setting>
            <setting name="yaccJavaFontStyle" serializeAs="String">
                <value>Italic</value>
            </setting>
            <setting name="yaccOperatorFontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="yaccBracketsFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="yaccSectionFontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="jflexSectionForeColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="jflexSectionBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="jflexBracketsForeColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="jflexBracketsBackColor" serializeAs="String">
                <value>DarkSalmon</value>
            </setting>
            <setting name="jflexOperatorForeColor" serializeAs="String">
                <value>ForestGreen</value>
            </setting>
            <setting name="jflexOperatorBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="jflexInclusiveForeColor" serializeAs="String">
                <value>Orchid</value>
            </setting>
            <setting name="jflexInclusiveBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="jflexCommentForeColor" serializeAs="String">
                <value>SlateGray</value>
            </setting>
            <setting name="jflexCommentBackColor" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="jflexJavaForeColor" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="jflexJavaBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="jflexJavaFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="jflexCommentFontStyle" serializeAs="String">
                <value>Italic</value>
            </setting>
            <setting name="jflexInclusiveFontStyle" serializeAs="String">
                <value>Italic</value>
            </setting>
            <setting name="jflexOperatorFontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="jflexBracketsFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="jflexSectionFontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="jflexStringForeColor" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="jflexStringBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="yaccStringForeColor" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="yaccStringBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="yaccStringFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="jflexStringFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="headerLispText" serializeAs="String">
                <value>; -*- Mode: Lisp -*-</value>
            </setting>
            <setting name="headerYaccText" serializeAs="String">
                <value>%%</value>
            </setting>
            <setting name="headerJflexText" serializeAs="String">
                <value>// -*- Mode: JFlex -*-</value>
            </setting>
            <setting name="syntaxFileExtension" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="syntaxFileExtensionIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="syntaxFileExtensionIndexOpen" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="syntaxFileExtensionOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="chmFile" serializeAs="String">
                <value>logix.chm</value>
            </setting>
            <setting name="ClassicNineStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="searchWebPath" serializeAs="String">
                <value>http://www.google.com/search?q=</value>
            </setting>
            <setting name="searchWeb" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="searchWebCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="searchWebAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="searchWebPathName" serializeAs="String">
                <value>Google</value>
            </setting>
            <setting name="syntaxOpenFileAuto" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="syntaxOpenDefaultMode" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="windowOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bracketCollapseLeft" serializeAs="String">
                <value>"{"</value>
            </setting>
            <setting name="bracketCollapseRight" serializeAs="String">
                <value>"}"</value>
            </setting>
            <setting name="regionCollapseStart" serializeAs="String">
                <value>@"#region\b"</value>
            </setting>
            <setting name="regionCollapseEnd" serializeAs="String">
                <value>@"#endregion\b"</value>
            </setting>
            <setting name="commentCollapseStart" serializeAs="String">
                <value>@"/\*"</value>
            </setting>
            <setting name="commentCollapseEnd" serializeAs="String">
                <value>@"\*/"</value>
            </setting>
            <setting name="windowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="autoWindowState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="windowLeft" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="windowTop" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="windowHeight" serializeAs="String">
                <value>492</value>
            </setting>
            <setting name="windowWidth" serializeAs="String">
                <value>648</value>
            </setting>
            <setting name="autoWindowPosition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoWindowSize" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startWindowPlace" serializeAs="String">
                <value>WindowsDefaultBounds</value>
            </setting>
            <setting name="yaccParBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="yaccParFontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="yaccTokenBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="yaccParForeColor" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
            <setting name="yaccTokenFontStyle" serializeAs="String">
                <value>Italic</value>
            </setting>
            <setting name="yaccTokenForeColor" serializeAs="String">
                <value>CadetBlue</value>
            </setting>
            <setting name="yaccNumberBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="yaccNumberFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="yaccNumberForeColor" serializeAs="String">
                <value>Chocolate</value>
            </setting>
            <setting name="tabMaxLength" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="textPropertiesVisible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="jFlexPath" serializeAs="String">
                <value />
            </setting>
            <setting name="bYaccPath" serializeAs="String">
                <value />
            </setting>
            <setting name="jFlexIntegration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bYaccIntegration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="jFlexGUI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bYaccGUI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gramlexIntegration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gramlexLexical" serializeAs="String">
                <value />
            </setting>
            <setting name="gramlexParser" serializeAs="String">
                <value />
            </setting>
            <setting name="gramlexJavaRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="gramlexSkeleton" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gramlexEncoding" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gramlexDefaultCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gramlexJLEX" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gramlexMinimization" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gramlexLegacyDot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gramlexBackup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gramlexTransition" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gramlexAutomata" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="gramlexSkeletonFile" serializeAs="String">
                <value />
            </setting>
            <setting name="gramlexEncodingCustom" serializeAs="String">
                <value />
            </setting>
            <setting name="gramlexOutput" serializeAs="String">
                <value />
            </setting>
            <setting name="gramlexJFlexArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="gramlexByaccArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="gramlexExclusive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="byaccPathName" serializeAs="String">
                <value />
            </setting>
            <setting name="rulerVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="hyperlinkForeColor" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="hyperlinkFontStyle" serializeAs="String">
                <value>Underline</value>
            </setting>
            <setting name="hyperlinkBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="wordWrapTab" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="logixTabsClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="syntaxTabChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="documentMapNewTab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="micaVariant" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="flat8Style" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="syntaxTabNew" serializeAs="String">
                <value />
            </setting>
            <setting name="lunaXPStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="micaVariantForce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PantherStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PantherToolbarBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="syntaxTabNewChange" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="headerProlog" serializeAs="String">
                <value>%% Mode: Prolog %%</value>
            </setting>
            <setting name="footerProlog" serializeAs="String">
                <value>%% End of file</value>
            </setting>
            <setting name="footerLisp" serializeAs="String">
                <value>;;End of file</value>
            </setting>
            <setting name="footerjflex" serializeAs="String">
                <value>//end of file</value>
            </setting>
            <setting name="footeryacc" serializeAs="String">
                <value>/* end of file</value>
            </setting>
            <setting name="headernone" serializeAs="String">
                <value>///// Mode: plain text</value>
            </setting>
            <setting name="footernone" serializeAs="String">
                <value>///// End</value>
            </setting>
            <setting name="customHeaderFooter" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="footerPath" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveTimer" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="caseSensitive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wholeWordsFind" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="emacsStyle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cCommentForeColor" serializeAs="String">
                <value>DimGray</value>
            </setting>
            <setting name="cCommentBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="cStringForeColor" serializeAs="String">
                <value>MediumSeaGreen</value>
            </setting>
            <setting name="cStringBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="cNumberForeColor" serializeAs="String">
                <value>IndianRed</value>
            </setting>
            <setting name="cNumberBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="cAttributeForeColor" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="cAttributeBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="cClassForeColor" serializeAs="String">
                <value>Coral</value>
            </setting>
            <setting name="cClassBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="cKeywordForeColor" serializeAs="String">
                <value>CornflowerBlue</value>
            </setting>
            <setting name="cKeywordBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="cCommentTagForeColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="cCommentTagBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="cCommentTagFontStyle" serializeAs="String">
                <value>Italic</value>
            </setting>
            <setting name="cKeywordFontStyle" serializeAs="String">
                <value>Bold</value>
            </setting>
            <setting name="cClassFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="cAttributeFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="cNumberFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="cStringFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="cCommentFontStyle" serializeAs="String">
                <value>Italic</value>
            </setting>
            <setting name="cBracketsFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="cBracketsForeColor" serializeAs="String">
                <value>DarkCyan</value>
            </setting>
            <setting name="cBracketsBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="cOperatorBackColor" serializeAs="String">
                <value>Transparent</value>
            </setting>
            <setting name="cOperatorFontStyle" serializeAs="String">
                <value>Regular</value>
            </setting>
            <setting name="cOperatorForeColor" serializeAs="String">
                <value>Orchid</value>
            </setting>
            <setting name="objectBrowser" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="objectBrowserSort" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="headerC" serializeAs="String">
                <value>// Mode: C</value>
            </setting>
            <setting name="footerC" serializeAs="String">
                <value>// End of file</value>
            </setting>
            <setting name="newFluentColor" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="openFluentColor" serializeAs="String">
                <value>Goldenrod</value>
            </setting>
            <setting name="saveFluentColor" serializeAs="String">
                <value>DeepSkyBlue</value>
            </setting>
            <setting name="cutFluentColor" serializeAs="String">
                <value>Brown</value>
            </setting>
            <setting name="copyFluentColor" serializeAs="String">
                <value>LightSeaGreen</value>
            </setting>
            <setting name="undoFluentColor" serializeAs="String">
                <value>SteelBlue</value>
            </setting>
            <setting name="redoFluentColor" serializeAs="String">
                <value>RoyalBlue</value>
            </setting>
            <setting name="fontFluentColor" serializeAs="String">
                <value>Indigo</value>
            </setting>
            <setting name="backFluentColor" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="nextFluentColor" serializeAs="String">
                <value>PaleGreen</value>
            </setting>
            <setting name="pasteFluentColor" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="gramlexFluentColor" serializeAs="String">
                <value>DarkTurquoise</value>
            </setting>
            <setting name="fluentColorIcons" serializeAs="String">
                <value>False</value>
            </setting>
        </PrologParsec.Properties.Settings>
    </userSettings>
</configuration>