<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrologParsec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PrologParsec.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <PrologParsec.Properties.Settings>
            <setting name="defaultFontSize" serializeAs="String">
                <value>12</value>
            </setting>
        </PrologParsec.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <PrologParsec.Properties.Settings>
            <setting name="descriptionFileDirectory" serializeAs="String">
                <value>prolog.xml</value>
            </setting>
            <setting name="defaultFont" serializeAs="String">
                <value>ProggyCleanTT, 15.75pt</value>
            </setting>
            <setting name="headerText" serializeAs="String">
                <value>% -*- Mode: Prolog -*-</value>
            </setting>
            <setting name="footerText" serializeAs="String">
                <value>% -*- End of file -- </value>
            </setting>
            <setting name="documentMap" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="auroraFile" serializeAs="String">
                <value>aurora.svg</value>
            </setting>
            <setting name="xmlFile" serializeAs="String">
                <value>C:\Users\Asain\Documents\linguaggi\prolog\PrologParsec - Copia\PrologParsec\bin\Debug\xml.xml</value>
            </setting>
            <setting name="auroraStartPage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="appTheme" serializeAs="String">
                <value>system</value>
            </setting>
            <setting name="leftPaddingToolbar" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="rightPaddingToolbar" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="auroraCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="auroraCustomURL" serializeAs="String">
                <value />
            </setting>
            <setting name="startPageVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageQuick" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageChangelog" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageLogo" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageVersion" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageProduct" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageEdition" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="startPageDesc" serializeAs="String">
                <value>True</value>
            </setting>
        </PrologParsec.Properties.Settings>
    </userSettings>
</configuration>